
/** {*/
    /*outline: 0 !important;*/
/*}*/
.inner .inner-content {
    height: 100vh;
}
.inner-content {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
/*===== All-items page start =====*/
.header-nav a:hover,
.header-nav a:active {
    color: #e74c3c;
}

.inner-all-items {
    background: url('../../../app/img/banner-inner-small.png') no-repeat center/cover;
    /*background: url('../../../app/img/inner-all-items-section.jpg') no-repeat center/cover;*/
    /*filter: grayscale(100%);*/
    /*transition: .2s;*/
    height: 229px;
}
.inner-all-items:hover {
    -webkit-filter: none;
            filter: none;
}

.inner-all-items .title {
    margin-bottom: 23px;
    font-size: 20px;
}

.inner-all-items .inner-search {
    position: relative;
    -webkit-box-shadow: 1px 1px 5px rgba(124, 178, 64, .75),
    -1px -1px 5px rgba(124, 178, 64, .75);
            box-shadow: 1px 1px 5px rgba(124, 178, 64, .75),
    -1px -1px 5px rgba(124, 178, 64, .75);
    border-radius: 3px;
}

.inner-all-items .inner-search input {
    width: 674px;
    height: 58px;
}

/*===== .all-products-wrapper start =====*/
.all-products-wrapper {
    width: 100%;
    padding-bottom: 110px;
}

.all-products-wrapper .breadcrumb {
    margin-bottom: 0;
}

.all-products-wrapper .aside-section button {
    margin: auto;
    margin-top: 16px;
}

.all-products-wrapper .aside-section .aside-btn {
    display: inline-block;
    width: 205px;
    height: 46px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 46px;
}

.all-products-wrapper .aside-section .aside-btn:hover {
    background-color: #e74c3c;
    color: #fff;
}

.inner-all-items .form-control-search::-webkit-input-placeholder {
    color: #90a4ae;
}

.inner-all-items .form-control-search::-moz-placeholder {
    color: #90a4ae;
}

/* Firefox 19+ */
.inner-all-items .form-control-search:-moz-placeholder {
    color: #90a4ae;
}

/* Firefox 18- */
.inner-all-items .form-control-search:-ms-input-placeholder {
    color: #90a4ae;
}

.all-products-wrapper .sort-controls {
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    color: #707070;
}

.all-products-wrapper .sort-controls i {
    background-color: #ffffff;
    font-size: 18px;
}

.all-products-wrapper .sort-controls .sorting-btn {
    margin: 0 13px;
    font-size: 14px;
}

.sort-controls button:hover,
.sort-controls button:active,
.sort-controls button:focus{
    color: #8bc34a;
}

.all-products-wrapper .dropdown-toggle::after {
    content: none;
}

.all-products-wrapper .sort-controls .sorting-btn .dropdown-menu{
    margin-top: 23px;
    padding: 20px;
    min-width: 160px;
    font-size: 14px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:active {
    color: #8bc34a;
}

.sort-controls .change-view-items {
    color: #90a4ae;
    font-size: 16px;
}

.sort-controls .change-view-items >.active i {
    color: #8bc34a;
}

.sort-controls .change-view-items.grid-list {
    margin-left: 12px;
}

.all-items-container .row {
    margin-top: 32px;
}

.all-items-container .pagination.pagination-lg {
    padding-left: 0;
    padding-top: 60px;
    margin-left: 2px;
}

.all-items-container .pagination li {
    text-align: center;
}

.all-items-container .pagination-lg .page-link {
    padding: 0;
}

.all-items-container .pagination li a {
    width: 42px;
    height: 40px;
    margin-left: 7px;
    line-height: 2;
}

.all-items-container .pagination li a:hover,
.all-items-container .pagination li a:active,
.all-items-container .pagination li a:focus {
    background-color: #e74c3c;
}

/*===== all-products-wrapper end =====*/
.footer-nav {
    padding-top: 0;
}

.footer-nav a:first-child {
    margin-top: 0;
}

/*===== All-items page end =====*/