/*====Main home ====*/
.default-section {
     padding: 120px 0;
}
.section-title{
    margin-bottom: 60px;
}
/*----product----*/
.btn-product{
    margin-top: 78px;
}

.product{
    background-color: #f4f6f5;
}

.cards-example + .cards-example{
    margin-top: 30px;
}
.btn-product .btn-custom + .btn-custom{
    margin-left: 12px;
}
.card.large-card {
    margin-bottom: 30px;
}
/*----product end----*/

/*----carousel----*/
.carousel,
.tutorials{
    background-color: #fff;
}
.trending-carousel .slick-slide{
    padding: 0 15px;
}
.trending-carousel .slick-prev,
.trending-carousel .slick-next{
    display: none !important;
}
.trending-carousel .slick-dots{
    display: block;
    text-align: center;
    margin-top: 67px;
}
.slick-dots li{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #e8e8e8;
    -webkit-box-shadow: inset 0 1px 1px #b1b1b1;
            box-shadow: inset 0 1px 1px #b1b1b1;
    border-radius: 50%;
}
.slick-dots .slick-active{
    background-color: #8bc34a;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.slick-dots li + li{
    margin-left: 7px;
}
.slick-dots li button{
    display: none;
}
/*----carousel end----*/

/*----why-choose----*/
.why-choose{
    background-color: #263238;
}
.why-choose .why-choose-item:hover span{
    color: #8bc34a;
}

/*----why-choose end----*/

/*----involve-author----*/
.involve-author{
    background-color: #f4f6f5;
}
.involve-author .involve-author-bg{
    max-width: 1170px;
    width: 100%;
}
.involve-author .bg-grey{
    background-color: #b5b5b5;
    width: 100%;
    padding: 116px 0;
}
.involve-author .bg-green{
    max-width: 650px;
}
.involve-author-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 73px 60px;
    background-color: #8bc34a;
}
.involve-author-item p{
    font-size: 30px;
    line-height: 1.1em;
    color: #fff;
}
.involve-author-item a{
    font-size: 18px;
    background-color: #fff;
    padding: 19px 45px;
    border: none;
    border-radius: 0;
}
/*----involve-author end----*/

/*----tutorials----*/
.tutorials li{
    margin:  0 15px;
}
.tutorials-items a{
    text-align: center;
}

/*----tutorials end----*/
@media (max-width: 991px) {
    .inner-content .inner-title{
        font-size: 36px;
    }
    .inner-content .inner-text{
        margin-bottom: 30px;
    }
    .default-section {
        padding: 80px 0;
    }
    .section-title{
        font-size: 30px!important;
        margin-bottom: 30px;
        text-align: center;
    }
    .card.large-card{
        max-width: 100%;
    }
    .why-choose .why-choose-item{
        padding-bottom: 20px;
    }
    .why-choose .why-choose-item:last-child{
        padding-bottom: 0;
    }
    .involve-author .bg-grey{
        padding: 50px 0;
    }
    .involve-author-item{
        display: block;
        text-align: center;
        padding: 40px 15px;
    }
    .involve-author-item p{
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .involve-author .bg-grey{
        padding: 0;
    }
    .product .btn-product{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }
    .product .btn-product a{
        margin-bottom: 10px;
    }
    .involve-author .involve-author-item p{
        font-size: 20px;
        text-align: center;
        margin: 0 0 10px 0;
    }
}

/*====Main home end====*/