/*==== breadcrumb start ====*/
.breadcrumb-section .breadcrumb {
    margin-bottom: 0;
}
/*==== breadcrumb end ====*/

/*===== product-section start =====*/
.product-section {
    width:100%;
    padding-bottom: 110px;
}
/*aside-section*/
product-section .aside-section button {
    width: 205px;
    height: 46px;
}

/*aside-section end*/
/*product-content*/
.product-content .row {
    margin-top: 30px;
}
.product-content .pagination.pagination-lg {
    padding-left: 0;
    padding-top: 60px;
}

.product-content .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: .0rem;
    border-bottom-left-radius: .0rem;
}

.product-content .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: .0rem;
    border-bottom-right-radius: .0rem;
}

.product-content .pagination li {
    text-align: center;
}

.product-content .pagination-lg .page-link{
    padding: 0;
}

.product-content .pagination li a {
    width: 42px;
    height: 40px;
    margin-left: 7px;
    line-height: 2;
}

.product-content .pagination li a:hover,
.product-content .pagination li a:active,
.product-content .pagination li a:focus {
    background: #e74c3c;
}
/*product-content*/
/*===== product-section end =====*/
