/* === aside section start === */
.aside-section {
    border-radius: 0;
    padding: 23px 30px 30px;
    border: 1px solid #dedede;
    background-color: #fff;
}

.aside-title {
    font-size: 20px;
    line-height: 2.5;
    border-bottom: 1px solid #dde3e8;
}

.aside-section:not(:first-child) .aside-title {
    margin-bottom: 30px;
}

.aside-section + .aside-section {
    margin-top: 30px;
}

.aside-section-list {
    margin-top: 0;
    margin-bottom: 13px;
}

.aside-section-list a {
    color: #263238;
    font-size: 14px;

}

.aside-section-list i {
    color: #8bc34a;
    margin-right: 10px;
}

.aside-section-list a:hover {
    color: #8bc34a;
}

.aside-section-list a span {
    color: #90a4ae;
    float: right;
}

@media (max-width: 991px) {
    .mobile-aside {
        position: fixed;
        top: 15px;
        left: 0;
        z-index: 999;
        overflow-y: auto;
        height: 100vh;
        transition: all .2s ease-in;
    }

    .mobile-aside.left {
        transform: translateX(-110%);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, .4);
        z-index: -1;
        transition: all .2s ease-in;
    }

    #main.show-aside .mobile-aside.left {
        transform: translateX(0);
    }

    #main.show-aside .overlay {
        z-index: 998;
        opacity: 1;
    }

    .card.aside-card .card-img img {
        height: auto;
    }

    body.overflow {
        overflow: hidden;
    }
}

/* === aside section end === */
.default-section-bottom {
    padding: 0 0 110px;
}

/*1170+30=1200*/
.container {
    max-width: 1200px;
}

/*870+30=900*/
.container-small {
    max-width: 900px;

}