/* ===Breadcrumbs=== */
.breadcrumb {
    padding: 48px 0 42px 0;
}
ul.breadcrumb li {
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    color: rgb(176,190,197);
    font-family: 'Roboto';
    font-weight: 400;
}

.breadcrumb > .active {
    color:rgb(38,50,56);
}
.breadcrumb > li a:focus,
.breadcrumb > li a:hover {
    color: rgb(139,195,74);
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color:rgb(139,195,74);
    content: '-';
}
/* ===Breadcrumbs end=== */

/* ===Buttons=== */
.btn-row {
    padding: 30px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center; 
}

.btn-xl {
    width: 270px;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    height: 50px;
}

.btn-lg {
    padding: 24px 42px;
    color: rgb(38,50,56);
}

.btn-md {
    width: 205px;
    padding: 16px 0;
    font-size: 15px;
    color: #fff;
}

.btn-less {
    width: 125px;
    padding: 12px 0;
    font-size: 14px;
    color: rgb(244,246,245);
}

.btn-sm {
    width: 105px;
    padding: 12px 0;
    font-size: 14px;
    color: rgb(244,246,245);
}

.btn-xs {
    padding: 8px 11px;
    font-size: 13px;
    border: 1px solid #d5d5d5;
    color: rgb(112,112,112);
}

.btn-login {
    font-size: 12px;
    padding: 12px 15px;
    color: rgb(255,255,255);
    font-family: 'Roboto';
    border-radius: 4px; 
}
.btn-item {
    font-size: 16px;
    width: 163px;
    padding: 20px 0;
    color: rgb(38,50,56);
    box-shadow: 0 1px 3px 0 rgba(204, 216, 228, 0.75);
}

.btn-details {
    font-size: 14px;
    color: rgb(244,246,245);
    width: 138px;
    padding: 12px 0;
}

.btn-account {
    width: 250px;
    line-height: 30px;
    color: #fff;
    padding: 20px 45px;
}

.btn.btn-bold {
    font-weight: bold;
}

.btn-submit {
    color: #000;
    text-transform: uppercase;
    padding: 20px 45px;
    box-shadow: 0 2px 2px rgba(114, 158, 76, .75);
}

.btn.btn-xl:hover {
    color:#000;
}

.btn.btn-green {
    background-color: rgb(139,195,74);
}
.btn.btn-green:hover {
    background-color: #e74c3c;
}

.btn.btn-red {
    background-color: rgb(231,76,60);
}

.btn.btn-white {
    background-color: #fff;
}
.btn-light-green {
    background-color: #95c85a;
}

.btn.btn-blue {
    background-color:rgb(63,137,195);
}

.btn.btn-dark-blue {
    background-color: rgb(75,98,109);
}
.btn-light-green:hover {
    background-color: #e85647;
}
.btn.btn-white:hover {
    background-color: rgb(163, 162, 162);
    color: #fff;
}

.btn.btn-red:hover{
    background-color: #8bc34a;
}

.btn.btn-login:hover {
    color: #fff;
}

.btn.btn-md:hover {
    color: #000;
}

.btn.btn-sm:hover {
    color: #000;
}

.btn.btn-details:hover {
    color: #000;
}
.btn.btn-item {
    box-shadow: none;
}

.btn.btn-aside {
    font-size: 15px;
}

.btn.btn-submit:hover {
    color:  #8bc34a;
}

.btn.btn-account:hover {
    color: #000;
    background-color: #95c85a;
}

.btn.btn-less:hover {
    color: #000;
}

button:hover{
    cursor: pointer;
}
/* ===Buttons end=== */