/*----header-top---*/
.top-header{
    background-color: #fff;
    padding: 26px 0;
}
.help-text{
    color: #546e7a;
    margin-right: 38px;
}
.help-text span{
    color: #e74c3c;
}



/*----header-top-end----*/

/*----header-bottom----*/
.bottom-header{
    background-color: #263238;
}
.header-nav{
    display: flex;
    justify-content: flex-start;
    padding: 24px 0;
}
.header-nav a{
    padding-right: 33px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

}
/*----header-bottom-end----*/
