/* ===Aside lists=== */
.aside-section-list {
    margin-top: 25px;

}
.aside-section-list li + li {
    margin-top: 25px;
}

.aside-section-list a {
    color: #263238;
}
.aside-section-list i {
    font-size: 14px;
    color: #8bc34a;
    margin-right: 10px;
}

.aside-section-list a:hover {
    color: #8bc34a;
}

.aside-section-list a span {
    color: #90a4ae;
    float: right;
}
/* ===Aside lists end=== */
/* ===Footer lists=== */
.footer-nav {
    padding-top: 25px;
}

.text-footer {
    font-size: 15px;
    color: #b7c3c8;
}

.footer-nav i {
    color: #8bc34a;
    margin-right: 15px;
}

.footer-nav a {
    margin-top: 25px;
}

.footer-nav a:hover {
    color: inherit;
}
/* ===Footer lists end=== */