#loginModal .modal-dialog {
    max-width: 730px;
    position: relative;
}

#loginModal .modal-dialog .close {
    position: absolute;
    top: -70px;
    right: 0px;
    opacity: 1;
}

#loginModal .modal-dialog .close:hover,
#loginModal .modal-dialog .close:active {
    color: #fff;
}

#loginModal .modal-content {
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}

#loginModal .login-title {
    text-transform: uppercase;
}

#loginModal form[name="login-form"] {
    position: relative;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.login-form-control::-webkit-input-placeholder {
    color: #fff;
}

.login-form-control::-moz-placeholder {
    color: #fff;
}

/* Firefox 19+ */
.login-form-control:-moz-placeholder {
    color: #fff;
}

/* Firefox 18- */
.login-form-control:-ms-input-placeholder {
    color: #fff;
}

#loginModal .login-form-control {
    background-color: #76ae36;
    height: 43px;
    font-size: 14px;
    color: #fff;
    padding-left: 40px;
    width: 100%;
}

#loginModal .login-form-group {
    position: relative;
}

#loginModal .login-form-group + .login-form-group {
    margin-top: 8px;
}

#loginModal .login-form-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    color: #fff;
}

#loginModal .login-btn-group {
    margin-top: 17px;
}

#loginModal .login-btn-group button[type="submit"] {
    width: 140px;
    height: 50px;
    font-weight: 700;
    transition: all 0.2s ease-out 0s;
    padding: 0;
}

#loginModal .login-btn-group button[type="submit"]:hover,
#loginModal .login-btn-group button[type="submit"]:active {
    color: #fff;
    background-color: #e74c3c;
}

#loginModal .login-btn-group a.custom-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 250px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    background-color: #76ae36;
    font-weight: 400;
    transition: all 0.2s ease-out 0s;
}

#loginModal .login-btn-group a.custom-btn i {
    margin-right: 8px;
}

#loginModal .login-btn-group a.custom-btn:hover,
#loginModal .login-btn-group a.custom-btn:active {
    color: #fff;
    background-color: #e74c3c;
}

#loginModal a.lost-password {
    margin-top: 8px;
    font-size: 18px;
    line-height: 4;
}

#loginModal a.lost-password:hover,
#loginModal a.lost-password:active {
    color: #444;
}

@media (max-width: 576px) {
    #loginModal .modal-content {
        padding: 60px 20px 30px;
    }

    #loginModal .modal-dialog .close {
        top: -50px;
    }

    #loginModal .login-btn-group button[type="submit"],
    #loginModal .login-btn-group a.custom-btn {
        width: 100%;
    }

    .login-btn-group:last-child {
        margin-top: 20px;
    }

    #loginModal .login-btn-group a.custom-btn {
        margin-top: 8px;
    }

    #loginModal .modal-dialog {
        overflow: hidden;
    }

    #loginModal a.lost-password {
        width: 100%;
        float: left;
        margin-top: 50px;
    }
}