/*=== Style text ===*/
.text-right {
    text-align: right;
}

.title-bold {
    font-weight: 700;
}

.title-medium {
    font-weight: 500;
}

.title-regular {
    font-weight: 400;
}
.text-capitalize {
    text-transform: capitalize;
}

.title {
    font-family: 'Roboto', sans-serif;
}

.title.large-size-title {
    font-size: 48px;
}

.title.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.66;
}

.default-title-small {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    line-height: 1.09;
}

.title.default-title {
    font-size: 24px;
    line-height: 2.5;
}

.title.default-text {
    font-size: 16px;
    font-weight: 500;
}

.title.default-text.default-text-block {
    line-height: 1.6;
    color: #b0bec5;
}

.title.default-text-small {
    font-size: 14px;
    font-weight: 500;
}

.text-contact {
    font-family: 'Lato', Open Sans;
    line-height: 1.71;
}

/*=== Style text ===*/
/*=== Color text ===*/
.title-white {
    color: #fff;
}

.title-off-white {
    color: #b7c3c8;
}

.title-dark {
    color: #263238;
}

.title-red {
    color: #e74c3c;
}

.title-green {
    color: #8bc34a;
}

.title-blue {
    color: #546e7a;
}

.title-gray-blue {
    color: #90a4ae;
}

.title-light-gray {
    color: #919699;
}

.title-gray {
    color: #697378;
}

.title-orange {
    color: #ffa726;
}

/*=== Color text end ===*/

/*=== background color ===*/
.bg-white {
    background-color: #fff;
}

.bg-off-white {
    background-color: #f4f6f5;
}

.bg-light-gray {
    background-color: #d4d4d4;
}

.bg-grey {
    background-color: #b5b5b5;
}

.bg-dark-grey {
    background-color: #666666;
}

.bg-grey-blue {
    background-color: #546e7a;
}

.bg-dark-blue {
    background-color: #455a64;
}

.bg-dark {
    background-color: #263238;
}

.bg-green {
    background-color: #8bc34a;
}

/*=== background color end ===*/