/* === Fonts ===*/
/* === Шрифты и иконки === */
/*Font-Awesome - иконочный шрифт*/
/*Шрифты:*/
/*Roboto: 400,500,700*/
/*Open Sans: 300 400 700*/
/*Raleway: 700*/
/*Lato: 500*/
@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/latosemibold-webfont.eot');
    src: url('../fonts/latosemibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/latosemibold-webfont.woff2') format('woff2'),
    url('../fonts/latosemibold-webfont.woff') format('woff'),
    url('../fonts/latosemibold-webfont.ttf') format('truetype'),
    url('../fonts/latosemibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/ralewaybold-webfont.eot');
    src: url('../fonts/ralewaybold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ralewaybold-webfont.woff2') format('woff2'),
    url('../fonts/ralewaybold-webfont.woff') format('woff'),
    url('../fonts/ralewaybold-webfont.ttf') format('truetype'),
    url('../fonts/ralewaybold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/robotobold-webfont.eot');
    src: url('../fonts/robotobold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotobold-webfont.woff2') format('woff2'),
    url('../fonts/robotobold-webfont.woff') format('woff'),
    url('../fonts/robotobold-webfont.ttf') format('truetype'),
    url('../fonts/robotobold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/robotomedium-webfont.eot');
    src: url('../fonts/robotomedium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotomedium-webfont.woff2') format('woff2'),
    url('../fonts/robotomedium-webfont.woff') format('woff'),
    url('../fonts/robotomedium-webfont.ttf') format('truetype'),
    url('../fonts/robotomedium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/subset-OpenSans-Regular.eot');
    src: url('../fonts/subset-OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/subset-OpenSans-Regular.woff') format('woff'),
        url('../fonts/subset-OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/subset-OpenSans-Light.eot');
    src: url('../fonts/subset-OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-OpenSans-Light.woff2') format('woff2'),
        url('../fonts/subset-OpenSans-Light.woff') format('woff'),
        url('../fonts/subset-OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/subset-OpenSans-Bold.eot');
    src: url('../fonts/subset-OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-OpenSans-Bold.woff') format('woff'),
        url('../fonts/subset-OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* === Fonts end ===*/

/* === Fontawesome ===*/


/* === Fontawesome end ===*/

