*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    margin: 0;
    background-color: #fff;
    color: #777;
    font: 400 15px/1 'robotoregular', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}
p {
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button{
    outline: none;
    border: none;
}
button {
    cursor: pointer;
    padding: 0;
}
textarea{
    resize: vertical;
}
input[type="submit"]{
    cursor: pointer;
}
blockquote {
    margin: 0;
}
.container {
    padding: 50px;
}
/* === aside section start === */
.aside-section{
    border-radius: 0;
    width: 270px;
    padding: 25px 30px 30px 30px;
    border: 1px solid #dedede;
    background-color: #fff;
}
.aside-title{
    font-size: 20px;
    line-height: 3;
    border-bottom: 1px solid #dde3e8;
}
.aside-title{
    margin-bottom: 30px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
/* === aside section end === */
/*1170+30=1200*/
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.container-fluid {
    padding: 0 15px;
}

.card {
    border-radius: 0;
    border-color: #d9e0e3;
}

.card:hover {
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .13);
            box-shadow: 0 8px 15px rgba(0, 0, 0, .13)
}

.label-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 64px solid #8bc34a;
    border-left: 0 solid transparent;
    border-right: 64px solid transparent;
    font-size: 18px;
    color: #fff;
}

.label-card i::after {
    content: "\f0e7";
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.card .card-img img {
    width: 100%;
}

.card .card-info {
    border-bottom: 1px solid #d9e0e3;
}

.card .card-category:hover {
    font-weight: 600;
    color: #8bc34a;
}

.card .card-author-img img {
    max-width: 31px;
    margin-right: 10px;
}

.card .card-product-rating i {
    font-size: 12px;
}

.card .card-product-rating .list-inline-item:not(:last-child) {
    margin-right: .0rem;
}

.card .rating-count {
    font-size: 12px;
    margin-left: 15px;
}

.card .rating-count::before {
    content: '(';
    margin-right: 2px;
}

.card .rating-count::after {
    content: ')';
    margin-left: 1px;
}

.card .rating-count::before,
.card .rating-count::after {
    color: #546e7a;
}

/*=====large-card=====*/
.card.large-card {
    max-width: 442px;
}

.card.large-card .card-info {
    padding: 25px 30px 15px;
}

.card.large-card .card-title {
    font-size: 18px;
    font-weight: 500;
}

.card.large-card .card-title:hover {
    font-weight: 600;
    color: #263238;
}

.card.large-card .card-author {
    padding: 20px 30px;
}

/*=====medium-card=====*/
.card.medium-card {
    max-width: 270px;
}

.card.medium-card .card-info {
    padding: 25px 22px;
}

.card.medium-card .card-title {
    font-weight: 500;
}

.card.medium-card .card-title:hover {
    font-weight: 600;
}

.card.medium-card .card-author {
    padding: 16px 22px 20px;
}

.card.medium-card .rating-count {
    font-size: 12px;
    margin-left: 8px;
}

/*=====aside-card=====*/
.card.aside-card {
    border-right: none;
    border-left: none;
}

.card.aside-card .card-info {
    padding: 20px;
}

.card.aside-card .card-info {
    border-bottom: none;
}

.card.aside-card .card-info {
    padding: 25px 0;
}

.card.aside-card .card-title {
    font-weight: 500;
}

.card.aside-card .card-title:hover {
    font-weight: 600;
}

.card.aside-card .card-author {
    margin-bottom: 28px;
}


/*----header-top---*/
.top-header{
    background-color: #fff;
    padding: 26px 0;
}
.help-text{
    color: #546e7a;
    margin-right: 38px;
}
.help-text span{
    color: #e74c3c;
}
.header-dropdown{
    color: #a0a0a0;
}
.header-dropdown-list{
    position: relative;
    margin-right: 35px;
    background-color: #f5f5f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.header-dropdown-list:last-child{
    margin-right: 10px;
}
.header-dropdown-list::before {
    position: absolute;
    display: inline-block;
    padding: 4px 6px;
    bottom: 22px;
    right: -5px;;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
}
.header-dropdown-list.bell::before{
    content: '8';
    background: #fcb322;

}
.header-dropdown-list.envelope::before{
    content: '5';
    background: #ef6c00;
}
.header-dropdown-list.cart::before{
    content: '8';
    background-color: #e74c3c; /*цвет  дропботона  корзина для 03_main_home.psd*/
   /* background-color: #95c85a;*/ /*цвет  дропботона  корзина для остальных меню*/

}
/*----header-top-end----*/

/*----header----*/
.head-user-photo{
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #d4d4d4;
}

/*----header-end----*/

/*----header-bottom----*/
.bottom-header{
    background-color: #263238;
}
.header-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 24px 0;
}
.header-nav a{
    padding-right: 33px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

}
/*----header-bottom-end----*/

/*----header-top---*/
.top-header{
    background-color: #fff;
    padding: 26px 0;
}
.help-text{
    color: #546e7a;
    margin-right: 38px;
}
.help-text span{
    color: #e74c3c;
}
.header-dropdown-list i{
    position: relative;
    color: #a0a0a0;
}
.header-dropdown-list:before{
    position: absolute;
    display: block;
    content: '8';
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
/*----header-top-end----*/



/*=== Style text ===*/
.title-bold {
    font-weight: 700;
}

.title-medium {
    font-weight: 500;
}

.title-regular {
    font-weight: 400;
}
text-capitalize {
    text-transform: capitalize;
}

.title {
    font-family: 'Roboto';
}

.title.large-size-title {
    font-size: 48px;
}

.title.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.66;
}

.default-title-small {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    line-height: 1.09;
}

.title.default-title {
    font-size: 24px;
    line-height: 2.5;
}

.title.default-text {
    font-size: 16px;
    font-weight: 400;
}

.title.default-text.default-text-block {
    line-height: 1.6;
    color: #b0bec5;
}

.title.default-text-small {
    font-size: 14px;
    font-weight: 500;
}

.text-contact {
    font-family: 'Lato', Open Sans;
    line-height: 1.71;
}

/*=== Style text ===*/
/*=== Color text ===*/
.title-white {
    color: #fff;
}

.title-off-white {
    color: #b7c3c8;
}

.title-dark {
    color: #263238;
}

.title-red {
    color: #e74c3c;
}

.title-green {
    color: #8bc34a;
}

.title-blue {
    color: #546e7a;
}

.title-gray-blue {
    color: #90a4ae;
}

.title-light-gray {
    color: #919699;
}

.title-gray {
    color: #697378;
}

.title-orange {
    color: #ffa726;
}

/*=== Color text end ===*/

/*=== background color ===*/
.bg-white {
    background-color: #fff;
}

.bg-off-white {
    background-color: #f4f6f5;
}

.bg-light-gray {
    background-color: #d4d4d4;
}

.bg-grey {
    background-color: #b5b5b5;
}

.bg-dark-grey {
    background-color: #666666;
}

.bg-grey-blue {
    background-color: #546e7a;
}

.bg-dark-blue {
    background-color: #455a64;
}

.bg-dark {
    background-color: #263238;
}

.bg-green {
    background-color: #8bc34a;
}

/*=== background color end ===*/
