/*====Cards start====*/
.card {
    border-radius: 0;
    border-color: #d9e0e3;
}

.card:hover {
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .13);
            box-shadow: 0 8px 15px rgba(0, 0, 0, .13)
}

.label-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 64px solid #8bc34a;
    border-left: 0 solid transparent;
    border-right: 64px solid transparent;
    font-size: 18px;
    color: #fff;
}

.label-card i::after {
    content: "\f0e7";
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.card .card-img img {
    width: 100%;
}

.card .card-info {
    border-bottom: 1px solid #d9e0e3;
}

.card .card-category:hover {
    font-weight: 600;
    color: #8bc34a;
}

.card .card-author-img img {
    max-width: 31px;
    margin-right: 10px;
}

.card .card-product-rating i {
    font-size: 12px;
}

.card .card-product-rating .list-inline-item:not(:last-child) {
    margin-right: .0rem;
}

.card .rating-count {
    font-size: 12px;
    margin-left: 15px;
}

.card .rating-count::before {
    content: '(';
    margin-right: 2px;
}

.card .rating-count::after {
    content: ')';
    margin-left: 1px;
}

.card .rating-count::before,
.card .rating-count::after {
    color: #546e7a;
}

/*=====large-card=====*/
.card.large-card {
    max-width: 442px;
}

.card.large-card .card-info {
    padding: 25px 30px 15px;
}

.card.large-card .card-title {
    font-size: 18px;
    font-weight: 500;
}

.card.large-card .card-title:hover {
    font-weight: 600;
    color: #263238;
}

.card.large-card .card-author {
    padding: 20px 30px;
}

/*=====medium-card=====*/
.card.medium-card {
    max-width: 270px;
}

.card.medium-card .card-info {
    padding: 25px 22px;
}

.card.medium-card .card-title {
    font-weight: 500;
}

.card.medium-card .card-title:hover {
    font-weight: 600;
}

.card.medium-card .card-author {
    padding: 16px 22px 20px;
}

.card.medium-card .rating-count {
    font-size: 12px;
    margin-left: 8px;
}

/*=====aside-card=====*/
.card.aside-card {
    border-right: none;
    border-left: none;
}

.card.aside-card .card-info {
    padding: 20px;
}

.card.aside-card .card-info {
    border-bottom: none;
}

.card.aside-card .card-info {
    padding: 25px 0;
}

.card.aside-card .card-title {
    font-weight: 500;
}

.card.aside-card .card-title:hover {
    font-weight: 600;
}

.card.aside-card .card-author {
    margin-bottom: 28px;
}
/*===== aside-card end =====*/
/*===== row-card ====*/
.card.row-card {
    max-width: 870px;
    height: 180px;
}

.card.row-card .row-card-img {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    position: relative;
}

.card.row-card .row-card-content {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
    position: relative;
    padding: 25px 30px 15px;
}

.card.row-card .card-info {
    border-bottom: 1px solid #e7ecf2;
    position: relative;
}

.card.row-card .card-title-info {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    padding-bottom: 17px;
}

.card.row-card .card-title-info .card-title {
    margin-bottom: 0;
    line-height: 1;
}

.card.row-card .card-title-info .card-title:hover {
    font-weight: 600;
    color: #263238;
}

.card.row-card .card-title-info .card-category {
    line-height: 2.5;
}

.card.row-card .card-title-info .card-text {
    font-size: 14px;
    line-height: 1.285;
    color: #70838d;
}

.card.row-card .card-price-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.card.row-card .card-price-info .card-price {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 8px;
}

.card.row-card .card-price-info .card-sale {
    font-size: 13px;
    color: #aeb4bb;
}

.card.row-card .card-author {
    padding-top: 16px;
}

.card.row-card .card-rating-info {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    text-align: right;
}

.card.row-card .card-rating-info ul, li {
    display: inline;
}

.card.row-card .card-rating-info > ul > li {
    font-size: 12px;
}

.card.row-card .card-rating-info > ul > li:not(:last-child) {
    border-right: 1px solid #aeb4bb;
    margin-right: 15px;
    padding-right: 15px;
}

.card.row-card .card-rating-info .count-post {
    position: relative;
    padding-left: 25px;
}

.card.row-card .card-rating-info .count-post i {
    position: absolute;
    left: 0px;
    top: -1px;
    font-size: 16px;
    color: #8bc34a;
    font-weight: 400;
}

.card.row-card .card-rating-info .count-like {
    position: relative;
    padding-left: 25px;
}

.card.row-card .card-rating-info .count-like i {
    position: absolute;
    left: 0px;
    top: 0;
    font-size: 16px;
    color: #8bc34a;
    font-weight: 400;
}
.card.row-card .card-rating-info .count-post:before,
.card.row-card .card-rating-info .count-like:before {
    content: '( ';
}

.card.row-card .card-rating-info .count-post:after,
.card.row-card .card-rating-info .count-like:after {
    content: ' )';
}

.card.row-card .card-rating-info .count-post:before,
.card.row-card .card-rating-info .count-like:before,
.card.row-card .card-rating-info .count-post:after,
.card.row-card .card-rating-info .count-like:after {
    color: #546e7a;
}
/*===== row-card end ====*/
/*===== small-card ======*/
.card.small-card {
  max-width: 270px;
}
.card.small-card .card-info {
    border-bottom:none;
}
.card.small-card .card-title {
    margin-bottom: 0;
    font-size: 14px;
}

.card.small-card .card-title:hover {
    font-weight: 600;
    color: #263238;
}

.card.small-card .card-category {
    line-height: 2.2;
    font-size: 12px;
}

.card.small-card  .card-price {
    font-size: 18px;
    line-height: 1;
}
.card.small-card .small-card-content {
    padding: 20px 20px 10px;
}

/*===== small-card end======*/
/*=====Cards end=====*/

