/*===== CARDS COMPONENT START ====*/
.card {
    border-radius: 0;
    border-color: #d9e0e3;
}

.card:hover {
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .13);
            box-shadow: 0 8px 15px rgba(0, 0, 0, .13)
}

.label-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 64px solid #8bc34a;
    border-left: 0 solid transparent;
    border-right: 64px solid transparent;
    font-size: 18px;
    color: #fff;
}

.label-card i::after {
    content: "\f0e7";
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.card .card-img img {
    width: 100%;
}

.card .card-author {
    border-top: 1px solid #d9e0e3;
}

.card .card-category:hover {
    font-weight: 600;
    color: #8bc34a;
}

.card .card-author-img img {
    max-width: 31px;
    margin-right: 10px;
}

.card .card-product-rating i {
    font-size: 12px;
}

.card .card-product-rating .list-inline-item:not(:last-child) {
    margin-right: .05rem;
}

.card .rating-count {
    font-size: 12px;
    margin-left: 15px;
}

.card .rating-count::before {
    content: '(';
    margin-right: 2px;
}

.card .rating-count::after {
    content: ')';
    margin-left: 1px;
}

.card .rating-count::before,
.card .rating-count::after {
    color: #546e7a;
}

/*=====large-card=====*/
.card.large-card {
    max-width: 442px;
}

.card.large-card .card-info {
    padding: 25px 30px 15px;
}

.card.large-card .card-title {
    font-size: 18px;
    font-weight: 500;
}

.card.large-card .card-title:hover {
    font-weight: 600;
    color: #263238;
}

.card.large-card .card-author {
    padding: 20px 30px;
}

/*===== large-card end =====*/
/*===== medium-card =====*/
.card.medium-card {
    margin-bottom: 32px;
}

.card.medium-card .card-info {
    padding: 25px 22px;
}

.card.medium-card .card-title {
    color: #263238;
    font-weight: 500;
}

.card.medium-card .card-title:hover {
    font-weight: 600;
}

.card.medium-card .card-author {
    padding: 16px 22px 20px;
}

.card.medium-card .rating-count {
    font-size: 12px;
    margin-left: 8px;
}

/*===== medium-card end=====*/
/*===== aside-card =====*/
.guide-show-aside {
    width: 270px;
}

.card.aside-card {
    border: none;
    margin-bottom: 30px;
}

.card.aside-card .card-img img {
    height: 120px;
}

.card.aside-card .card-author {
    border-top: none;
}

.card.aside-card .card-info {
    padding: 20px 0 18px;
}

.card.aside-card .card-title:hover {
    font-weight: 600;
    color: #263238;
}

.card.aside-card .card-author {
    padding-bottom: 25px;
    border-bottom: 1px solid #d9e0e3;
}

.card.aside-card:last-of-type .card-author {
    border-bottom: none;
}

.card.aside-card:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .card.aside-card .card-img img {
        height: auto;
    }

    .card.aside-card .card-product-rating .list-inline-item:not(:last-child) {
        margin-right: .5rem;
    }

    .card.aside-card .card-price {
        font-size: 25px;
    }
}

/*===== aside-card end =====*/
/*===== small-card ======*/
.card.small-card {
    /*max-width: 270px;*/
}

.card.small-card .card-info {
    border-bottom: none;
}

.card.small-card .card-title {
    margin-bottom: 0;
    font-size: 14px;
}

.card.small-card .card-title:hover {
    font-weight: 600;
    color: #263238;
}

.card.small-card .card-category {
    line-height: 2.2;
    font-size: 12px;
}

.card.small-card .card-price {
    font-size: 18px;
    line-height: 1;
}

.card.small-card .small-card-content {
    padding: 20px 20px 10px;
}

/*===== small-card end======*/
/*===== row-card start =====*/
.card .card-text-info,
.card .card-comment {
    display: none;
}

.card.row-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px;
    border: none;
    height: 180px;
}

.card.row-card .card-img {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    position: relative;
}

.card.row-card .card-img img {
    display: block;
    height: 100%;
}

.card.row-card .card-description {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
}

.card.row-card .card-text-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding: 0 30px 20px;
}

.card.row-card .card-text-info .card-text {
    font-size: 14px;
    color: #70838d;
}

.card.row-card .card-info {
    padding: 22px 30px 0;
}

.card.row-card .card-price {
    font-size: 30px;
}

.card.row-card .card-sale {
    font-size: 13px;
    color: #aeb4bb;
}

.card.row-card .card-product-rating .list-inline-item {
    margin-right: .3rem;
}

.card.row-card .card-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    border-left: 1px solid #aeb4bb;
    margin-left: 27px;
    padding-left: 60px;
    position: relative;
}

.card.row-card .card-comment i {
    position: absolute;
    left: 0;
    top: -2px;
    font-size: 16px;
    color: #8bc34a;
    font-weight: 400;
    margin-left: 20px;
}

.card.row-card .card-comment:before {
    content: ' ( ';
}

.card.row-card .card-comment:after {
    content: ' ) ';
}

.card.row-card .card-comment:before,
.card.row-card .card-comment:after {
    color: #b0bec5;
}

@media (max-width: 767px) {
    .card.row-card .card-comment {
        margin-left: 13px;
        padding-left: 40px;
    }

    .card.row-card .card-comment i {
        margin-left: 13px;
    }
    .card.row-card .card-product-rating .list-inline-item {
        margin-right: .05rem;
    }
    .card.row-card .card-sale {
        display: none;
    }
}

@media (max-width: 576px) {
    .card.row-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
    }

    .card.row-card .card-img {
        position: relative;
    }

    .card.row-card .card-img img {
        width: 100%;
        height: auto;
    }
    .card.row-card .card-comment {
        display: none;
    }
}

/*===== row-card end ====*/
/*===== CARDS COMPONENT END ====*/
