/*----header-top---*/
.top-header{
    background-color: #fff;
    padding: 26px 0;
}
.help-text{
    color: #546e7a;
    margin-right: 38px;
}
.help-text span{
    color: #e74c3c;
}
.header-dropdown-list i{
    position: relative;
    color: #a0a0a0;
}
/*.header-dropdown-list:before{
    position: absolute;
    display: block;
    content: '8';
    width: 9px;
    height: 9px;
    border-radius: 50%;
}*/
/*----header-top-end----*/


