/* ===Aside lists=== */
.aside-section {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 23px 27px 30px;
}

.aside-section + .aside-section {
    margin-bottom: 30px;
}

.aside-section .aside-section-title {
    font-size: 20px;
    font-weight: 700;
    color: #263238;
    padding-bottom: 15px;
    border-bottom: 1px solid #dde3e8;
} 

.aside-section-list {
    margin-top: 25px;

}
.aside-section-list li + li {
    margin-top: 25px;
}

.aside-section-list a {
    color: #263238;
}
.aside-section-list i {
    font-size: 14px;
    color: #8bc34a;
    margin-right: 10px;
}

.aside-section-list a:hover {
    color: #8bc34a;
}

.aside-section-list a span {
    color: #90a4ae;
    float: right;
}
/* ===Aside lists end=== */

/* ===Footer lists=== */

.text-footer {
    font-size: 15px;
    color: #b7c3c8;
}

.footer-nav i {
    color: #8bc34a;
    margin-right: 15px;
}

.footer-nav a+a {
    margin-top: 25px;
}

.footer-nav a:hover {
    color: inherit;
}
/* ===Footer lists end=== */